<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chs</key>
		<string>[尴尬]</string>
		<key>png</key>
		<string>[56].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[嘘]</string>
		<key>png</key>
		<string>[11].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[g尴尬]</string>
		<key>png</key>
		<string>[70].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[嘴唇]</string>
		<key>png</key>
		<string>[38].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[强]</string>
		<key>png</key>
		<string>[3].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吓]</string>
		<key>png</key>
		<string>[52].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[太阳]</string>
		<key>png</key>
		<string>[29].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[呲牙]</string>
		<key>png</key>
		<string>[15].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鄙视]</string>
		<key>png</key>
		<string>[47].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[大哭]</string>
		<key>png</key>
		<string>[55].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[难过]</string>
		<key>png</key>
		<string>[21].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[哈欠]</string>
		<key>png</key>
		<string>[46].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[微笑]</string>
		<key>png</key>
		<string>[1].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[g楞]</string>
		<key>png</key>
		<string>[72].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[酷]</string>
		<key>png</key>
		<string>[76].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[心碎]</string>
		<key>png</key>
		<string>[39].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[愉快]</string>
		<key>png</key>
		<string>[22].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[拳头]</string>
		<key>png</key>
		<string>[20].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[玫瑰]</string>
		<key>png</key>
		<string>[2].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[可怜]</string>
		<key>png</key>
		<string>[53].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[g色]</string>
		<key>png</key>
		<string>[68].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[OK]</string>
		<key>png</key>
		<string>[8].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[冷汗]</string>
		<key>png</key>
		<string>[58].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[爱心]</string>
		<key>png</key>
		<string>[19].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[g愉快]</string>
		<key>png</key>
		<string>[67].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[咖啡]</string>
		<key>png</key>
		<string>[6].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[月亮]</string>
		<key>png</key>
		<string>[30].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[发呆]</string>
		<key>png</key>
		<string>[43].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[吐]</string>
		<key>png</key>
		<string>[60].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[害羞]</string>
		<key>png</key>
		<string>[26].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[g抓狂]</string>
		<key>png</key>
		<string>[66].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[惊讶]</string>
		<key>png</key>
		<string>[57].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[坏笑]</string>
		<key>png</key>
		<string>[28].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[g拜拜]</string>
		<key>png</key>
		<string>[62].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[握手]</string>
		<key>png</key>
		<string>[4].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[睡]</string>
		<key>png</key>
		<string>[54].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[篮球]</string>
		<key>png</key>
		<string>[36].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[饭]</string>
		<key>png</key>
		<string>[18].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[g大哭]</string>
		<key>png</key>
		<string>[64].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[闭嘴]</string>
		<key>png</key>
		<string>[51].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[g快哭了]</string>
		<key>png</key>
		<string>[65].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[亲亲]</string>
		<key>png</key>
		<string>[23].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[撇嘴]</string>
		<key>png</key>
		<string>[42].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[奋斗]</string>
		<key>png</key>
		<string>[17].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[快哭了]</string>
		<key>png</key>
		<string>[49].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[再见]</string>
		<key>png</key>
		<string>[27].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[礼物]</string>
		<key>png</key>
		<string>[31].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[蛋糕]</string>
		<key>png</key>
		<string>[32].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[调皮]</string>
		<key>png</key>
		<string>[14].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[西瓜]</string>
		<key>png</key>
		<string>[33].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[g吐舌]</string>
		<key>png</key>
		<string>[61].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[委屈]</string>
		<key>png</key>
		<string>[48].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抱拳]</string>
		<key>png</key>
		<string>[7].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[啤酒]</string>
		<key>png</key>
		<string>[34].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[流泪]</string>
		<key>png</key>
		<string>[16].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[g害羞]</string>
		<key>png</key>
		<string>[69].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[NO]</string>
		<key>png</key>
		<string>[41].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[乒乓]</string>
		<key>png</key>
		<string>[35].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[抓狂]</string>
		<key>png</key>
		<string>[59].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[右哼哼]</string>
		<key>png</key>
		<string>[45].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[憨笑]</string>
		<key>png</key>
		<string>[12].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[偷笑]</string>
		<key>png</key>
		<string>[13].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[得意]</string>
		<key>png</key>
		<string>[25].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[色]</string>
		<key>png</key>
		<string>[24].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[足球]</string>
		<key>png</key>
		<string>[37].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[阴险]</string>
		<key>png</key>
		<string>[50].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[g敲打]</string>
		<key>png</key>
		<string>[63].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[胜利]</string>
		<key>png</key>
		<string>[40].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[鼓掌]</string>
		<key>png</key>
		<string>[9].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[g傻笑]</string>
		<key>png</key>
		<string>[71].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[拥抱]</string>
		<key>png</key>
		<string>[5].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[左哼哼]</string>
		<key>png</key>
		<string>[44].png</string>
	</dict>
	<dict>
		<key>chs</key>
		<string>[疑问]</string>
		<key>png</key>
		<string>[10].png</string>
	</dict>
</array>
</plist>
